html {
  width: 100%;
  height: 100%;
}

body { background: -o-linear-gradient(bottom,#071010 10%,#106B6B 360%); background: -webkit-gradient(linear,left bottom, left top,color-stop(10%, #071010),color-stop(360%, #106B6B)); background: linear-gradient(300deg,#071010 10%,#106B6B 360%); font-family: Tahoma, Geneva, sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
}

.wtext {
  color: #BEBEBE;
}

code {
  background:#787878;  padding:4px; border-radius:7px;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 30vw;
  height: 30vw;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
