html {
  width: 100%;
  height: 100%;
}

body { background: -o-linear-gradient(bottom,#071010 10%,#106B6B 360%); background: -webkit-gradient(linear,left bottom, left top,color-stop(10%, #071010),color-stop(360%, #106B6B)); background: linear-gradient(300deg,#071010 10%,#106B6B 360%); font-family: Tahoma, Geneva, sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
}

.wtext {
  color: #BEBEBE;
}

code {
  background:#787878;  padding:4px; border-radius:7px;
}

.loading-circ-ripple {
  height: 48px;
  width: 48px;
  color: #5a5a5a;
  border-radius: 50%;
  position: relative;
  display: inline-block; }
  .loading-circ-ripple::after, .loading-circ-ripple::before {
    content: '';
    height: 0;
    width: 0;
    border: inherit;
    border: 5px solid;
    border-radius: inherit;
    position: absolute;
    left: 40%;
    top: 40%;
    animation: circle-ripple  1s linear infinite; }
  .loading-circ-ripple::before {
    animation-delay: -0.5s; }

@keyframes circle-ripple {
  0% {
    height: 0;
    width: 0;
    left: 20px;
    top: 20px; }
  100% {
    height: 48px;
    width: 48px;
    left: -5px;
    top: -5px;
    opacity: 0; } }
