html {
  width: 100%;
  height: 100%;
}

body { background: -o-linear-gradient(bottom,#071010 10%,#106B6B 360%); background: -webkit-gradient(linear,left bottom, left top,color-stop(10%, #071010),color-stop(360%, #106B6B)); background: linear-gradient(300deg,#071010 10%,#106B6B 360%);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.wtext {
color: #BEBEBE;
}
